
body{
    background-color: black;

}
h1{
    color: white;
    text-align: center;
}
/*https://www.w3.org/Style/Examples/007/center.pt_BR.html*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
p{
    text-align: center;
    font-size: 18px;
    color: #a7c0ff;
}